<h2>host: ___HOST___</h2>
<div class="hostnames">
  hostnames:
  ___HOSTNAMES___
</div>
<div class="extraports">
  ___EXTRAPORTS___
</div>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Port</th>
      <th>Protocol</th>
      <th>State</th>
      <th>Service</th>
      <th>Product</th>
      <th>Version</th>
      <th>Extra</th>
      <th></th>
    </tr>
  </thead>
  ___PORTS___
</table>
